body {
  padding: 0px;
  margin: 0px;
}
.card-container {
  height: auto;
  width: 230px !important;
  border: 1px solid red !important;
  border-radius: 10px;
  /* margin: 10px; */
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.image-container {
  background-color: #df07078f;
  border-radius: 10px;  
}

.card-img {
  border-radius: 10px;

  object-fit: contain;
  height: 250px;
  display: block;
  margin: 0 auto;
}
.title-container {
  text-align: center;
}

.q-container {
  text-align: center;
}
.button-container {
  text-align: center;
}
.button {
  margin: 0 30px;
  border: red 1px solid;
  outline: 0;
  padding: 10px 13px;
  color: black;
  border-radius: 10px;
  background-color: #FFECEC;
}
.title-container h3{
  color: #4A4453;
}
.desc-container{
  text-align: center;
  color: red
  ;
}
.desc-container p{
  color: #4A4453;
  font-size: 25px;
  font-weight: bold;
}
.line-container{
  width: 80%;
  margin: 0 auto;
}
.line-container hr {
border : 1px double red;
}
.add-to-card-container{
  text-align: center;
 margin-top: 20px;
}
.add-to-card-container button{
  margin: 0 30px;
  border: red 1px solid;
  outline: 0;
  padding: 10px 30px;
color: black;
  border-radius: 10px;  
  background-color: #FFECEC;
  cursor: pointer;
  font-weight: bold;
  transition: all  0.4s ease-in-out;
}
.add-to-card-container button:hover{
  background-color: red;
  color: white;
  border: white 1px solid;
  cursor: pointer;
  font-weight: bold;


}

/* index page css  */
.page-container {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: space-evenly;
  background-color: #FFF6F4;
}
